ESTOQUE TOTAL = GERAR EM CSV

In [ ]:
import pandas as pd

dados = pd.read_csv('C:/Users/ayres.filho/Downloads/Niveis_estoque_relatorio_08112022_105719.csv',sep=';',#sep='\t'
                  lineterminator='\r',
                  error_bad_lines=False)

C:\Users\ayres.filho\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
dados.head()

In [ ]:
dados['nom_fantasia'].value_counts() # conta os dados desejados

In [1]:
import pandas as pd
import openpyxl

#df = pd.read_csv('C:/Users/ayres.filho/Downloads/Niveis_estoque_relatorio_04102022_084543.csv')
df = pd.read_excel("C:/Users/ayres.filho/Desktop/Auditoria/Estoque REDE.xlsx")

In [2]:
df.head()

,Analisado,EAN,Código,Descrição,Código filial,Filial,ABC,Sin.,Qtd. estoque atual,Val. estoque atual,...,Lote reposição,Num. pedido,Data última venda,Dias última venda,Qtd última venda,Data última compra,Dias última compra,Qtd última compra,Data última entrada,Qtd última entrada
0,N,8711500483454,17793,134814 LAMPADA AUTOMOT AUX SINALIZACAO,72,ITAJAI DALCOQUIO,C,EX,8.0,15.36,...,23,NaN,2022-08-16,76.0,2.0,NaT,NaN,NaN,NaT,NaN
1,N,8711500483454,17793,134814 LAMPADA AUTOMOT AUX SINALIZACAO,73,ITAJAI SANTA ROSA,D,NR,0.0,0.00,...,23,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN
2,N,8711500483454,17793,134814 LAMPADA AUTOMOT AUX SINALIZACAO,80,LAGUNA CAMARAO SC,D,NR,0.0,0.00,...,23,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN
3,N,8711500483454,17793,134814 LAMPADA AUTOMOT AUX SINALIZACAO,112,DOIS LAJEADOS,D,NR,0.0,0.00,...,23,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN
4,N,8711500483454,17793,134814 LAMPADA AUTOMOT AUX SINALIZACAO,141,IMBITUBA FERJU,D,NR,0.0,0.00,...,23,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaT,NaN

In [ ]:
import pandas as pd

dados = pd.read_csv('C:/Users/ayres.filho/Downloads/Niveis_estoque_relatorio_08112022_105719.csv',sep=';',#sep='\t'
                  lineterminator='\r',
                  error_bad_lines=False)
dados.to_excel("Resultado estoque.xlsx", index=False)

C:\Users\ayres.filho\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)